* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-nav {
  display: none;
  width: 100%;
  height: 46px;
  background-color: #272a31;
  border-top-right-radius: 8px;
}

.social-media-icons {
  list-style: none;
  display: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  margin-left: 16px;
  width: 40px;
  height: 20px;
  right: 12px;
  top: calc(10% - 40px / 2);
  border-radius: 8px;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: none;
  flex-direction: column;
  gap: 15px;
  width: 297px;
  height: 50px;
}

.logo span {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #272a31;
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 892px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

.navbar-items {
  display: none;
  list-style: none;
  text-decoration: none;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
  color: grey;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px;
  margin: 15px;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: grey;
}

.exit-btn {
  display: none;
  margin: 25px;
}

.top-background {
  background-image: url(./images/head-background.webp);
  background-position: center;
  background-size: cover;
  height: 650px;
  background-repeat: no-repeat;
  width: 100%;
}

.page-one {
  width: 100%;
  height: 550px;
  align-items: center;
}

.page-one p {
  color: #ec5242;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-left: 26px;
}

.page-one h1 {
  color: #ec5242;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 26px;
}

.page-desc {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 10;
  font-size: 12px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid white;
  border-width: medium;
  padding: 20px;
  background-color: #d3d3d3;
}

.page-date {
  color: #272a31;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-left: 16px;
  padding: 15px;
}

.page-date span {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 10;
  font-size: 12px;
}

.page-schedule {
  width: 100%;
  margin: 0;
  background: url(./images/programs-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px transparent solid;
}

.page-schedule h2 {
  color: #d3d3d3;
  text-align: center;
  justify-content: center;
  font-size: 22px;
}

.page-schedule span {
 border-bottom: 3px solid #ec5242;
}

.daily-programs li {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #78767650;
  margin: 10px 10px;
}

.page-sponsors ul li,
.page-sponsors-about ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 10px;
}

.daily-programs li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec5242;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #d3d3d3;
}

.page-join span {
  margin-left: 5px;
  padding: 15px;
}

.page-program {
  display: none;
}

.speakers-section {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
}

.speakers-section h4 {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #272a31;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.speaker-image-1 {
  background-image: url('./images/speaker-1.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120px;
  height: 160px;
}

.speaker-image-2 {
  background-image: url('./images/speaker-2.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120px;
  height: 160px;
}

.speaker-image-3 {
  background-image: url('./images/speaker-3.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120px;
  height: 160px;
}

.speaker-image-4 {
  background-image: url('./images/speaker-4.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120px;
  height: 160px;
}

.speaker-image-5 {
  background-image: url('./images/speaker-5.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120px;
  height: 160px;
}

.speaker-image-6 {
  background-image: url('./images/speaker-6.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120px;
  height: 160px;
}

.speakers-list {
  display: flex;
  list-style: none;
  height: 250px;
}

.speaker-sp {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 120px;
}

.speaker-info {
  gap: 5px;
  margin: 5px;
}

.speaker-name {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #272a31;
  margin-bottom: 0;
}

.speaker-title {
  color: #ec5242;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 50;
  margin-top: 0;
}

.speaker-description {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 5;
  font-size: 12px;
}

.page-sponsors,
.page-sponsors-about {
  width: 100%;
  background-color: #272a31;
  left: 0;
  right: 0;
}

.speaker-header span,
.sponsors-header span {
  border-bottom: 3px solid #ec5242;
  padding-bottom: 5px;
}

.page-sponsors h5,
.page-sponsors-about h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'COCGOOSE', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #d3d3d3;
  font-size: 24px;
  margin-bottom: 10px;
}

.page-sponsors ul,
.page-sponsors-about ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 9px;
  padding-right: 9px;
}

.page-footer,
.page-footer-about {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
}

.page-footer span,
.page-footer-about span {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
}

.logo-footer,
.logo-footer-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.page-footer p,
.page-footer-about p {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  color: #272a31;
  justify-content: center;
  margin-top: 20px;
}

.page-one-about {
  width: 100%;
  height: 650px;
}

.page-one-about h1 {
  color: #ec5242;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 26px;
}

.page-desc-about {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 20;
  font-size: 12px;
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid #fff;
  padding: 30px;
  background-color: #d3d3d3;
  color:#272a31;
}

.page-one-about p {
  color: #ec5242;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-left: 46px;
  margin-top: 20px;
}

.page-contact {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 10;
  font-size: 12px;
  margin-left: 16px;
  padding: 20px;
  color:#272a31;
}

.page-contact span {
  text-decoration: underline;
  font-weight: 20;
  font-size: 12px;
}

.page-logo {
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

.page-logo h2 {
  color: #272a31;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 100;
  margin: 36px;
  justify-content: center;
  align-items: center;
}

.page-logo p {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 30;
  font-size: 12px;
  margin-left: 26px;
  padding: 20px;
  color:#272a31;
}

.page-logo span {
  border-bottom: 2px solid #ec5242;
}

.about-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 126px;
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid grey;
  padding: 10px;
}

.about-logo img {
  width: 120px;
  height: 86px;
}

.logo-details {
  display: flex;
  flex-direction: column;
}

.logo-details h2 {
  margin-bottom: 0;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.logo-details p {
  margin-top: 0;
  text-decoration: overline  underline;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 80;
  font-size: 10px;
}

.page-news {
  width: 100%;
  background-color: #fff;
}

.page-news h4 {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  margin: 36px;
  color:#272a31;
}

.page-news span {
  border-bottom: 3px solid #ec5242;
}

.page-news p {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 12px;
  margin-left: 12px;
  color:#272a31;
}

.past-projects {
  display: flex;
  margin: 10px;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-project {
  background-image: url('./images/about-project-one.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  background-blend-mode: darken;
  background-color: rgba(255, 0, 0, 0.6);
}

.second-project {
  background-image: url('./images/about-project-two.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  background-blend-mode: darken;
  background-color: rgba(255, 0, 0, 0.6);
}

.past-projects h5 {
  color: #d3d3d3;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 20;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 95px;
}

.past-projects p {
  color: #d3d3d3;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily-programs li h3 {
  color: #ec5242;
  font-size: 18px;
}

.daily-programs li p {
  color: #d3d3d3;
}

@media screen and (min-width: 768px) {
  .top-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    background-color: #272a31;
    border-top-right-radius: 8px;
  }

  .social-media-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 320px;
    justify-content: space-around;
    padding: 12px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    right: 0;
    border-top-right-radius: 8px;
  }

  .social-media-icons:nth-child(4),
  .social-media-icons:last-child {
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #d3d3d3;
  }

  .hamburger-menu {
    display: none;
  }

  .exit-btn {
    display: none;
  }

  .logo {
    display: flex;
  }

  .overlay {
    display: flex;
    background-color: #fff;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    position: unset;
    height: 1.5rem;
    top: 7px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: #fff;
    align-items: center;
  }

  .daily-programs li {
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 200px;
    padding: 0;
    gap: 5px;
    margin: 5px;
  }

  .navbar-items {
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    align-items: center;
  }

  .navbar-items li:first-child {
    color: #ec5242;
  }

  .navbar-items li:last-child {
    border: 1px solid #ec5242;
    border-width: thick;
    padding: 7px;
  }

  .menu-items a {
    display: flex;
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 50;
    color: #272a31;
    text-decoration: none;
  }

  .page-one p {
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    margin-left: 256px;
  }
  
  .page-one h1 {
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5rem;
    margin-left: 226px;
  }
  
  .page-desc {
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .page-date {
    margin-left: 16px;
    padding: 25px;
  }
  
  .page-date span {
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 12px;
  }

  .page-desc {
    margin-left: 26px;
    margin-right: 150px;
  }

  .page-schedule {
    width: 100%;
    left: 0;
    height: 350px;
  }

  .page-schedule h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15px;
  }

  .daily-programs {
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }

  .daily-programs li:last-child {
    display: none;
  }

  .page-program {
    display: flex;
    color: #d3d3d3;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: underline;
    padding: 15px;
  }

  .speakers-section {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  .hr {
    display: flex;
    position: relative;
  }

  .speakers {
    width: 80%;
    margin-left: 76px;
    margin-right: 76px;
  }

  .speakers-section h4 {
    margin-top: 10px;
    font-size: 22px;
  }

  .page-sponsors h5 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    margin-left: 30px;
  }

  .page-sponsors ul {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
  }

  .page-one-about p {
    display: none;
  }

  .page-one-about h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 3rem;
    margin-left: 36px;
  }

  .page-desc-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 36px;
    margin-right: 126px;
    font-size: 14px;
  }

  .page-contact {
    margin-left: 126px;
    align-items: center;
    font-size: 14px;
    font-weight: 50;
  }

  .page-logo h2 {
    display: flex;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  .page-logo p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 14px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .about-logo {
    margin-left: 250px;
    margin-right: 200px;
    height: 180px;
  }

  .hr-about {
    margin: 45px;
  }

  .page-news p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 14px;
    margin-left: 46px;
  }

  .page-news h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 2rem;
    font-weight: 100;
  }

  .past-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 76px;
    margin-right: 76px;
  }

  .first-project,
  .second-project {
    height: 250px;
  }

  .page-sponsors-about {
    display: none;
    width: 100%;
  }

  .page-footer-about {
    background-color: #272a31;
  }

  .logo-footer-about span {
    color: #d3d3d3;
    font-size: 16px;
    font-weight: 600;
  }

  .page-footer-about p {
    color: #d3d3d3;
    margin-top: 40px;
    font-size: 12px;
  }

  .daily-programs li h2 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .daily-programs li p {
    margin-top: 0;
  }
}
